/*====GLOBAL STYLE====*/
/*Body style*/

body {
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetical, Arial, sans-serif;
}

/*Container style*/
.container {
    margin: 30px auto;
    max-width: 1000px;
}

/*Strong style*/
strong {
    font-weight: bold;
}